body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blueviolet;
}

input {
  border-radius: 8px;
  border: 1px solid black;
}

ul{
    border: 1px solid red;
}

#btn-inserir{
    width: 200px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
    border: none;
    color: blueviolet;
    font-size: 15px;
    box-shadow: 0px 0px 4px .06px #000;
}


